* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -ms-user-select: none;      
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  overscroll-behavior-y: none;
}

body {
  min-height: 100dvh;
  background: var(--neutral-950); 
}